In [1]:
# Reading Trade partition dataset from the temporary location
trade_common = spark.read.parquet("C:/Users/KEVAL/Desktop/EOD-DataLoadProject/output_dir/partition=T/*.parquet")

NameError: name 'spark' is not defined

In [8]:
# Selecting the columns for Trade Records
trade = trade_common.select("trade_dt", "symbol", "exchange", "event_tm","event_seq_nb", "arrival_tm", "trade_pr")

NameError: name 'trade_common' is not defined

In [3]:
# Apply Data Correction

from pyspark.sql.window import Window
from datetime import date
import pyspark.sql.functions as F 


# Using row_number, window partition and orderby to accept records with latest arrival_tme

trade_corrected=trade.withColumn("row_number",F.row_number().over(Window.partitionBy(trade.trade_dt,\
                   trade.symbol,trade.exchange,trade.event_tm,trade.event_seq_nb) \
                   .orderBy(trade.arrival_tm.desc()))).filter(F.col("row_number")==1).drop("row_number")

NameError: name 'trade' is not defined

In [ ]:
#Writing the Trade Dataset back to Local Storage

trade_date = "2020-08-05"
trade_corrected.coalesce(1).write.parquet("C:/Users/KEVAL/Desktop/EOD-DataLoadProject/trade/trade_dt={}".format(trade_date))

In [4]:
# Reading the Quote partition data from the temporary location

quote_common = spark.read.parquet("C:/Users/KEVAL/Desktop/EOD-DataLoadProject/output_dir/partition=Q/*.parquet")

NameError: name 'spark' is not defined

In [5]:
# Selecting the Necessary columns for Quote Records

quote=quote_common.select("trade_dt","symbol","exchange","event_tm","event_seq_nb","arrival_tm","bid_pr","ask_pr")

NameError: name 'quote_common' is not defined

In [6]:
from pyspark.sql.window import Window
from datetime import date
import pyspark.sql.functions as F 

# In the exchange dataset, you can uniquely identify a record by the combination of trade_dt,
# symbol, exchange, event_tm, event_seq_nb. However, the exchange may correct an error in
# any submitted record by sending a new record with the same uniqueID. Such records will come with later arrival_tm. 

# Using row_number, window partition and orderby to accept records with latest arrival_tme

quote_corrected=quote.withColumn("row_number",F.row_number().over(Window.partitionBy(quote.trade_dt,quote.symbol,\
                                            quote.exchange,quote.event_tm,quote.event_seq_nb).\
                                            orderBy(quote.arrival_tm.desc()))).filter(F.col("row_number")==1).drop("row_number")

NameError: name 'quote' is not defined

In [7]:
#Writing back the Quote Dataset back to Local Storage

trade_date = "2020-08-05"
quote.coalesce(1).write.parquet("C:/Users/KEVAL/Desktop/EOD-DataLoadProject/quote/trade_dt={}".format(trade_date))

NameError: name 'quote' is not defined